
    <!-- =====================================
         SUNDAYS
    ====================================== -->

<section id="sundays" class="sunday-section px-0" >

  <div class="sunday-feature">

    <!-- IMAGE -->
    <div class="sunday-image">
      <img
        src="assets/images/prayer.jpg"
        alt="City Church Liverpool worship">
    </div>

    <!-- CONTENT -->
    <div class="sunday-content">

      <p class="fw-bold text-uppercase mb-2">
        EVERY SUNDAY
      </p>

      <h2 class="display-3 fw-bold mb-3">
        Sundays
      </h2>

      <h3 class="h2 fw-bold mb-4">
        11:00 AM
      </h3>

      <p class="lead">
        Join us for around 90 minutes of contemporary worship,
        practical Bible teaching, prayer and community.
      </p>

    </div>

  </div>

</section>


    <!-- =====================================
        CONNECT
    ====================================== -->

<section id="connect" class="container-fluid py-5">

  <div class="container py-5">

    <div class="text-center mb-5">

      <p class="fw-bold text-uppercase mb-2">
        CONNECT
      </p>

      <h2 class="display-3 fw-bold">
        Find your place
      </h2>

      <p class="lead mx-auto" style="max-width: 700px;">
        Church is about more than attending a Sunday service.
        It's about doing life together.
      </p>

    </div>

    <div class="row g-5">
      <div class="col-12 col-md-4 col-lg-3">
        <div class="card h-100 border-0 shadow-sm rounded-4 overflow-hidden">
          <img src="assets/images/transforminglifes.jpg" class="card-img-top" alt="Home Groups">
          <div class="card-body p-4">
            <h3 class="h4 fw-bold">
              Home Groups
            </h3>
            <p>
              Build friendships, explore the Bible,
              pray together and encourage one another.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="card h-100 border-0 shadow-sm rounded-4 overflow-hidden">
          <img src="assets/images/alpha.jpg" class="card-img-top" alt="Home Groups">
          <div class="card-body p-4">
            <h3 class="h4 fw-bold">
              ALPHA
            </h3>
            <p>
               Alpha is a relaxed and welcoming space where you can
              explore the Christian faith.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="card h-100 border-0 shadow-sm rounded-4 overflow-hidden">
          <img src="assets/images/youngadults.jpg" class="card-img-top" alt="Home Groups">
          <div class="card-body p-4">
            <h3 class="h4 fw-bold">
              Children and Young People
            </h3>
            <p>
              We want children and young people to experience a safe while they can learn
              about Jesus.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="card h-100 border-0 shadow-sm rounded-4 overflow-hidden">
          <img src="assets/images/youngadult.jpg" class="card-img-top" alt="Home Groups">
          <div class="card-body p-4">
            <h3 class="h4 fw-bold">
              Young Adults
            </h3>
            <p>
             A place for young adults to build friendships  .
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<!-- =====================================================
     COMMUNITY
===================================================== -->

<section class="container-fluid bg-light py-5">
  <div class="container">
    <div class="row align-items-center g-4">

      <!-- IMAGE -->
      <div class="col-12 col-lg-6 order-2 order-lg-1">
        <div class="image-container">
          <img
  src="assets/images/service.jpeg"
  class="img-fluid w-100 rounded-4"
  alt="People worshipping at City Church Liverpool">
        </div>
      </div>

      <!-- TEXT -->
      <div class="col-12 col-lg-6 order-1 order-lg-2">
        <p class="fw-bold mb-2">
          COMMUNITY
        </p>
        <h2 class="display-5 fw-bold mb-4">
          Growing together
          <span class="d-block">
            in faith.
          </span>
        </h2>
        <p class="lead">
          We believe the love of Jesus changes lives.
        </p>
        <p>
          As we follow Him together, we're growing in faith,
          building authentic community and sharing His love
          with the people around us.
        </p>
        <a routerLink="/connect" class="btn btn-outline-dark mt-3">
          DISCOVER OUR COMMUNITY →
        </a>

      </div>

    </div>

  </div>

</section>


