<div class="site-footer">

  <div class="footer-container">

    <!-- =========================
         BRAND
    ========================== -->

    <div class="footer-brand">

      <a routerLink="/" class="footer-logo">
        <span>CITY</span>
        <strong>CHURCH</strong>
      </a>

      <p class="footer-tagline">
        A church family transformed by
        Jesus' love for community and mission.
      </p>

    </div>


    <!-- =========================
         CONTACT
    ========================== -->

    <div class="footer-column">

      <h3>CONTACT DETAILS</h3>

      <div class="footer-line"></div>

      <address>

        <p>
          Jubilee Drive, Kensington,<br>
          Liverpool,<br>
          England,<br>
          L7 8SL
        </p>

      </address>

      <a
        href="mailto:info@citychurchliverpool.org"
        class="footer-email">

        info&#64;citychurchliverpool.org

      </a>
            <!-- SOCIAL MEDIA -->



        <div class="footer-socials">

          <a
            href="https://www.facebook.com/CityChurchLiverpool/?locale=en_GB"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook">

            <img
              src="assets/images/facebook.png"
              alt="Facebook">

          </a>


          <a
            href="https://www.instagram.com/citychurch.lpool/?hl=en"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram">

            <img
              src="assets/images/instagram.png"
              alt="Instagram">

          </a>


          <a
            href="https://www.youtube.com/c/citychurchliverpool"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="YouTube">

            <img
              src="assets/images/youtube.png"
              alt="YouTube">

          </a>

        </div>


    </div>


    <!-- =========================
         AFFILIATION
    ========================== -->

    <div class="footer-column affiliation">

      <h3>OUR AFFILIATION</h3>

      <div class="footer-line"></div>

      <img
        src="assets/images/elim-logo.avif"
        alt="Elim Pentecostal Church"
        >

      <p>
        City Church is affiliated to
        <strong>Elim Pentecostal Church</strong>
        as an Elim Church Incorporated (ECI).
      </p>

    </div>

  </div>


  <!-- =========================
       BOTTOM
  ========================== -->

<!-- =========================
     FOOTER BOTTOM
========================= -->

<div class="footer-bottom">

  <div class="footer-bottom-container">

    <p>
      © {{ currentYear }} City Church Liverpool
    </p>

    <div class="footer-legal">

      <p>
        Registered Charity No. 701792
      </p>

      <!-- <a routerLink="/terms">
        Terms & Conditions
      </a> -->

      <a routerLink="/privacy">
        Privacy Policy
      </a>

    </div>

  </div>

</div>

</div>
